.contact {
  background-color: #e8e7f1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contact .div {
  background-color: #e8e7f1;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.contact .HEADER {
  position: absolute;
  width: 1392px;
  height: 101px;
  top: 24px;
  left: 24px;
  background-color: #d8d7fa;
  border-radius: 20px;
  overflow: hidden;
}

.contact .NAV {
  display: flex;
  width: 1343px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 30px;
  left: 24px;
}

.contact .LOGO {
  position: relative;
  width: fit-content;
  font-family: "Gill Sans-Bold", Helvetica;
  font-weight: 700;
  color: var(--collection-1-text);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact .frame {
  display: flex;
  width: 303px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  position: relative;
}

.contact .text-wrapper {
  position: relative;
  width: 72px;
  height: 20px;
  margin-top: -1px;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.contact .text-wrapper-2 {
  position: relative;
  width: 54px;
  height: 20px;
  margin-top: -1px;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.contact .text-wrapper-3 {
  position: relative;
  width: 79px;
  height: 20px;
  margin-top: -2px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.contact .let-s-discuss-on {
  position: absolute;
  width: 455px;
  top: 250px;
  left: 74px;
  font-family: var(--display-lg-semibold-font-family);
  font-weight: var(--display-lg-semibold-font-weight);
  color: var(--neutral-900);
  font-size: var(--display-lg-semibold-font-size);
  letter-spacing: var(--display-lg-semibold-letter-spacing);
  line-height: var(--display-lg-semibold-line-height);
  font-style: var(--display-lg-semibold-font-style);
}

.contact .overlap-group {
  position: absolute;
  width: 735px;
  height: 764px;
  top: 180px;
  left: 676px;
}

.contact .frame-2 {
  position: absolute;
  width: 700px;
  height: 705px;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  border-radius: 24px;
  overflow: hidden;
}

.contact .frame-3 {
  display: inline-flex;
  flex-direction: column;
  height: 242px;
  align-items: flex-start;
  gap: 64px;
  position: absolute;
  top: 162px;
  left: 48px;
}

.contact .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.contact .text-wrapper-4 {
  color: #2e0249;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .line {
  position: relative;
  width: 600px;
  height: 3px;
}

.contact .text-wrapper-5 {
  color: #000000;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 24px 64px;
  position: absolute;
  top: 475px;
  left: 33px;
  background-color: #9b93f7;
  border-radius: 16px;
}

.contact .img {
  height: 24px;
  position: relative;
  width: 24px;
}

.contact .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--collection-1-text);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.contact .FLOWER-ICON {
  position: absolute;
  width: 119px;
  height: 119px;
  top: 645px;
  left: 616px;
}

.contact .frame-6 {
  display: inline-flex;
  flex-direction: column;
  height: 253px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 522px;
  left: 66px;
}

.contact .frame-7 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 24px 128px 24px 24px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 16px;
}

.contact .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .vector {
  height: 28px;
  position: relative;
  width: 24px;
}

.contact .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--collection-1-text);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.contact .frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 24px 128px 24px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -29px;
  border-radius: 16px;
}

.custom-input {
  width: 300px; /* Change width as needed */
  height: 40px; /* Change height as needed */
  border: none; /* Makes the border invisible */
  outline: none; /* Removes the outline when focused */
  padding: 10px; /* Adds padding for comfort */
  font-size: 16px; /* Adjust font size as needed */
  border-radius: 5px; /* Optional: Rounded corners */
  box-shadow: none; /* Optional: Removes any shadow */
  background-color: #eeeeee;
}

.custom-input::placeholder {
  color: #837d7d; /* Light gray color for placeholder */
  font-family: "Gill Sans-Regular", Helvetica;
  font-size: x-large;
  font-weight: bolder;
  transition: opacity 0.2s ease;
}

.custom-input:focus::placeholder {
  opacity: 0; 
}

