:root {
  --white: rgba(255, 255, 255, 1);
  --brand-600: rgba(127, 86, 217, 1);
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --collection-1-background: rgba(249, 241, 240, 1);
  --collection-1-primary: rgba(250, 220, 217, 1);
  --collection-1-secondary: rgba(248, 175, 166, 1);
  --collection-1-text: rgba(0, 0, 0, 1);
  --collection-1-rounded: 20px;
}
