/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: auto;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 0;
  }
}

.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap; 
}

.home .div {
  background-color: #ffffff;
  width: 100%; /* Full width on smaller screens */
  max-width: 1440px; /* Limit max width on larger screens */
  height: auto; /* Auto height to adjust based on content */
  position: relative;
}

.home .SOCIALS {
  position: absolute;
  width: 448px;
  height: 101px;
  top: 899px;
  left: 968px;
  background-color: #d8d7fa;
  border-radius: 20px;
  overflow: hidden;
}

.home .LINKS {
  display: flex;
  width: 334px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 42px;
  left: 57px;
}

.home .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.home .CONTACT {
  position: absolute;
  width: 448px;
  height: 351px;
  top: 649px;
  left: 496px;
  background-color: #9b92f6;
  border-radius: var(--collection-1-rounded);
  overflow: hidden;
}

.home .text-wrapper-2 {
  position: absolute;
  top: 273px;
  left: 24px;
  font-family: "Gill Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--collection-1-text);
  font-size: 46px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .TOP-BAR {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  left: 24px;
}

.home .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .ARROW {
  position: relative;
  width: 38px;
  height: 38px;
}

.home .ABOUT {
  position: absolute;
  width: 448px;
  height: 351px;
  top: 649px;
  left: 24px;
  background-color: #d8d7fa;
  border-radius: 20px;
  overflow: hidden;
}

.home .i-m-jahnavi-a-master {
  position: absolute;
  width: 394px;
  top: 153px;
  left: 24px;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 25px;
}

.home .span {
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 25px;
}

.home .text-wrapper-4 {
  font-family: "Gill Sans-SemiBold", Helvetica;
  font-weight: 600;
}

.home .text-wrapper-5 {
  position: absolute;
  width: 394px;
  top: 115px;
  left: 24px;
  font-family: "Gill Sans-Bold", Helvetica;
  font-weight: 700;
  color: var(--collection-1-text);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 25px;
}

.home .CIRCLE-ICON {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 32px;
  left: 24px;
}

.home .WORK {
  position: absolute;
  width: 447px;
  height: 726px;
  top: 149px;
  left: 968px;
  background-color: #d8d7fa;
  border-radius: 20px;
  overflow: hidden;
}

.home .ITEM {
  width: 237px;
  height: 29px;
  top: 651px;
  position: absolute;
  left: 24px;
}

.home .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .BORDER {
  top: 607px;
  position: absolute;
  width: 399px;
  height: 2px;
  left: 24px;
}

.home .text-wrapper-7 {
  position: absolute;
  top: 537px;
  left: 24px;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .img {
  top: 495px;
  position: absolute;
  width: 399px;
  height: 2px;
  left: 24px;
}

.home .text-wrapper-8 {
  position: absolute;
  top: 371px;
  left: 24px;
  font-family: "Gill Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--collection-1-text);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .p {
  position: absolute;
  width: 394px;
  top: 409px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--neutral-700);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 23px;
}

.home .ITEM-2 {
  width: 401px;
  height: 320px;
  top: 34px;
  position: absolute;
  left: 24px;
}

.home .IMAGE {
  position: absolute;
  width: 399px;
  height: 268px;
  top: 52px;
  left: 0;
  border-radius: 10px;
  background-image: url(https://c.animaapp.com/aHf0WUEQ/img/image@2x.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home .ARROW-ICON {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 2px;
  left: 373px;
}

.home .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Gill Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--collection-1-text);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .PORTRAIT {
  position: absolute;
  width: 330px;
  height: 476px;
  top: 149px;
  left: 614px;
  border-radius: var(--collection-1-rounded);
  background-image: url(./assets/jahnavi.JPG);
  background-size: cover;
  background-position: 50% 50%;
}

.home .SLOGAN-INTRO {
  position: absolute;
  width: 565px;
  height: 479px;
  top: 146px;
  left: 24px;
  background-color: #d8d7fa;
  border-radius: 20px;
  overflow: hidden;
}

.home .a-data-analyst-a {
  position: absolute;
  width: 475px;
  height: 220px;
  top: 192px;
  left: 24px;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 50px;
  letter-spacing: 0;
  line-height: 55px;
}

.home .FLOWER-ICON {
  position: absolute;
  width: 119px;
  height: 119px;
  top: 34px;
  left: 416px;
}

.home .HEADER {
  position: absolute;
  width: 1392px;
  height: 101px;
  top: 24px;
  left: 24px;
  background-color: #d8d7fa;
  border-radius: 20px;
  overflow: hidden;
}

.home .NAV {
  display: flex;
  width: 1343px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 30px;
  left: 24px;
}

.home .LOGO {
  position: relative;
  width: fit-content;
  font-family: "Gill Sans-Bold", Helvetica;
  font-weight: 700;
  color: var(--collection-1-text);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .frame {
  display: flex;
  width: 303px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  position: relative;
}

.home .text-wrapper-10 {
  position: relative;
  width: 72px;
  height: 20px;
  margin-top: -1px;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-11 {
  position: relative;
  width: 54px;
  height: 20px;
  margin-top: -1px;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-12 {
  position: relative;
  width: 79px;
  height: 20px;
  margin-top: -1px;
  font-family: "Gill Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}
