:root {
  --collection-1-background: rgba(249, 241, 240, 1);
  --collection-1-primary: rgba(250, 220, 217, 1);
  --collection-1-secondary: rgba(248, 175, 166, 1);
  --collection-1-text: rgba(0, 0, 0, 1);
  --collection-1-rounded: 20px;
}
