<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./static/globalsabout.css" />
    <link rel="stylesheet" href="./static/styleguideabout.css" />
    <link rel="stylesheet" href="./static/about.css" />
  </head>
  <body>
    <div class="about">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <img class="rectangle" src="https://c.animaapp.com/WZsCos1o/img/rectangle-5.svg" />
            <div class="group">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <p class="hi-i-m-jahnavi">
                    <span class="text-wrapper">Hi, I’m Jahnavi 👋</span> <span class="span"> <br /></span>
                  </p>
                  <p class="i-am-a-master-s" style="font-size: 17px;">
                    I’m a Master’s student in Computer Science at UNC Charlotte, specializing in Data Science. 
                    With a strong foundation in Python and data analysis, I’ve gained hands-on experience working with big data tools like Hadoop and Spark. 
                    I’ve also earned certifications in Data Engineering and Cloud Computing, allowing me to design scalable solutions for processing and analyzing large datasets. 
                    I’ve co-authored research on AI-driven systems, which has been published in respected journals.
                    I’m passionate about applying my skills in Python, machine learning, and data analysis to real-world challenges. 
                    I’m eager to join a team where I can contribute to impactful, data-driven projects while continuously growing my expertise in a collaborative, dynamic environment.
                </p>                
                </div>
              </div>
            </div>
            <img class="IMG" src="https://c.animaapp.com/WZsCos1o/img/img-9795-1.png" />
            <img class="IMG" src="./static/assets/IMG_9795.png" />
            <img class="FLOWER-ICON" src="https://c.animaapp.com/WZsCos1o/img/flower-icon.svg" />
          </div>
          <div class="SOCIALS">
            <div class="LINKS">
              <a
                href="https://www.linkedin.com/in/jahnavi-kanukuntla-30a954216/"
                target="_blank"
                rel="noopener noreferrer"
                ><div class="text-wrapper-2">LINKEDIN</div></a
              >
              <a href="https://github.com/Jahnavi-0305" target="_blank" rel="noopener noreferrer"
                ><div class="text-wrapper-2">GITHUB</div></a
              >
            </div>
          </div>
          <div class="ABOUT">
            <img class="CIRCLE-ICON" src="https://c.animaapp.com/WZsCos1o/img/circle-icon.svg" />
            <div class="frame"><div class="text-wrapper-3">
              <a href="./static/assets/jahnavi.pdf">Download resume</a>
            </div></div>
            <div class="div-wrapper"><div class="text-wrapper-4">
              <a href="./project.html" title="">Explore my projects.</a></div></div>
            <p class="here-is-my-resume">
              <span class="text-wrapper-5">Here is my </span>
              <span class="text-wrapper-6">resume</span>
              <span class="text-wrapper-5">. Feel free to delve into my </span>
              <span class="text-wrapper-6">projects.</span>
            </p>
          </div>
          <div class="overlap-2">
            <div class="text-wrapper-7">
              <a href="./contact.html" title="">Contact me</a></div>
            <div class="text-wrapper-8">Like my work ?</div>
            <a href="./contact.html">
              <img class="arrow" src="https://c.animaapp.com/WZsCos1o/img/arrow-1.svg" alt="Arrow Image" />
            </a>            
          </div>
        </div>
        <header class="HEADER">
          <div class="NAV">
            <div class="LOGO">
              <a href="./home.html" title="">JAHNAVI KANUKUNTLA</a>
            </div>
            <div class="frame-2">
              <div class="text-wrapper-9">
                <a href="./project.html" title="">PROJECTS</a>
              </div>
              <div class="text-wrapper-10">
                <a href="./about.html" title=""><b>ABOUT</b></a>
              </div>
              <div class="text-wrapper-11">
                <a href="./contact.html" title="">CONTACT</a>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
  </body>
</html>
