<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/aboutmeglobals.css" />
    <link rel="stylesheet" href="./static/aboutmestyleguide.css" />
    <link rel="stylesheet" href="./static/aboutme.css" />
  </head>
  <body>
    <div class="about">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="overlap-group-2">
              <img class="IMG" src="Jahnavi1.JPG" />
              <img class="FLOWER-ICON" src="https://c.animaapp.com/2oLnb102/img/flower-icon.svg" />
              <img class="vector" src="https://c.animaapp.com/2oLnb102/img/vector-1.svg" />
            </div>
            <div class="CONTACT">
              <p class="text-wrapper">I might add something here later..</p>
              <p class="p" style=" font-size: 30px">"Okay Bye! Have a great day :)"</p>
            </div>
          </div>
          <div class="frame">
            <p class="i-am-jahnavi-a">
              <span class="span">I am Jahnavi, a Master’s student in Computer Science at </span>
              <span class="text-wrapper-2">UNC Charlotte</span>
              <span class="span">, specialising in </span>
              <span class="text-wrapper-3">Data Science. </span>
            </p>
            <p class="div-2">
              I hold a Bachelor&#39;s in Information Technology and have expertise in <span class="text-wrapper-3">Python, Data Analysis </span> and cloud platforms like <span class="text-wrapper-3">AWS</span>.
            </p>
            <p class="div-2">
              <span class="span">With </span>
              <span class="text-wrapper-3">certifications</span>
              <span class="span">
                in Data Engineering and Cloud Computing, I have hands-on experience with big data tools like
              </span>
              <span class="text-wrapper-3">Hadoop</span>
              <span class="span"> and </span>
              <span class="text-wrapper-3">Spark</span>
              <span class="span"
                >. <br />I’ve also co-authored published research on AI-driven systems. I am seeking roles where I can
                apply my technical skills and leadership to innovative, data-driven projects.</span
              >
            </p>
          </div>
        </div>
        <div class="ABOUT">
          <p class="text-wrapper-4">Here is my resume. Feel free to delve into my projects.</p>
          <div class="frame-2">
            <button class="button">
              <div class="button-base"><div class="text">
                <a href="https://drive.google.com/file/d/1O73UPKZfe2TowUVJQcfmyjiS8j_5sFfb/view?usp=drive_link" download>View resume</a>
              </div></div>
            </button>
            <button class="button">
              <div class="div-wrapper"><div class="text-2">
                <a href="./project.html" title="">Explore my projects.
              </div>
            </div>
            </button>
          </div>
          <a href="./aboutme.html">
          <img class="img" src="https://c.animaapp.com/2oLnb102/img/vector.svg"/>
          </a>
        </div>
        <header class="HEADER">
          <div class="NAV">
            <div class="LOGO" > 
              <a href="./home.html" title="">JAHNAVI KANUKUNTLA</a>
            </div>            
            <div class="frame-3">
              <div class="text-wrapper-5">
                <a href="./project.html" title="">PROJECTS</a>
              </div>
              <div class="text-wrapper-6">
                <a href="./aboutme.html" title=""><b>ABOUT</b></a>
              </div>
              <div class="text-wrapper-7">
                <a href="./contactme.html" title="">CONTACT</a>
              </div>
            </div>
          </div>
        </header>
        <div class="text-wrapper-8">Hey There👋</div>
        <p class="text-wrapper-9">I’m glad you found me :)</p>
        <div class="frame-wrapper">
          <div class="frame-4">
            <p class="text-wrapper-10">All rights and wrongs reserved @jahnavik2024</p>
            <img class="vector-2" src="https://c.animaapp.com/2oLnb102/img/vector-1-1.svg" />
            <div class="LINKS">
              <a
                href="https://www.linkedin.com/in/jahnavi-kanukuntla-30a954216/"
                target="_blank"
                rel="noopener noreferrer"
                ><div class="div-3">LINKEDIN</div></a
              >
              <div class="text-wrapper-11">|</div>
              <a href="https://github.com/Jahnavi-0305" target="_blank" rel="noopener noreferrer"
                ><div class="div-3">GITHUB</div></a
              >
              <div class="text-wrapper-11">|</div>
              <p class="div-3">
                <a href="mailto:jkanuku0305@gmail.com"
                target="_blank"
                rel="noopener noreferrer"
                  ><span class="text-wrapper-12"></span></a>
              <a href="mailto:jkanuku0305@gmail.com"
                target="_blank"
                rel="noopener noreferrer">
                <span class="text-wrapper-12">EMAIL</span>
              </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
