<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/globalshome.css" />
    <link rel="stylesheet" href="static/styleguidehome.css" />
    <link rel="stylesheet" href="static/home.css" />
  </head>
  <body>
    <div class="home">
      <div class="div">
        <div class="SOCIALS">
          <div class="LINKS">
            <a
              href="https://www.linkedin.com/in/jahnavi-kanukuntla-30a954216/"
              target="_blank"
              rel="noopener noreferrer"
              ><div class="text-wrapper">LINKEDIN</div></a
            >
            <a href="https://github.com/Jahnavi-0305" target="_blank" rel="noopener noreferrer"
              ><div class="text-wrapper">GITHUB</div></a
            >
          </div>
        </div>
        <div class="CONTACT">
          <div class="text-wrapper-2">
            <a href="./contactme.html" title="">Contact me</a>
          </div>
          <div class="TOP-BAR">
            <div class="text-wrapper-3">Like my work?</div>
            <a href="./contactme.html">
              <img class="arrow" src="https://c.animaapp.com/WZsCos1o/img/arrow-1.svg" alt="Arrow Image" />
            </a>
          </div>
        </div>
        <div class="ABOUT">
          <p class="i-m-jahnavi-a-master">
            <span class="span">I’m Jahnavi, a Master’s student in Computer Science at the </span>
            <span class="text-wrapper-4">University of North Carolina at Charlotte</span>
            <span class="span">, specialising in Data Science.</span>
          </p>
          <div class="text-wrapper-5">HELLO WORLD!</div>
          <img class="CIRCLE-ICON" src="https://c.animaapp.com/aHf0WUEQ/img/circle-icon.svg" />
        </div>
        <div class="WORK">
          <div class="ITEM"><div class="text-wrapper-6">
            <a href="./project.html" title="">Visualising Health Care</a>
          </div></div>
          <img class="BORDER" src="https://c.animaapp.com/aHf0WUEQ/img/border.svg" />
          <div class="text-wrapper-7">
            <a href="./project.html" title="">Photo Sharing App</a>
          </div>
          <img class="img" src="https://c.animaapp.com/aHf0WUEQ/img/border-1.svg" />
          <div class="text-wrapper-8">
            <a href="./project.html" title="">Diet Recommendation System</a>
          </div>
          <p class="p">
            I developed an ML-powered meal recommender using BMI data achieves 87% accuracy in suggesting health-aligned
            meals.
          </p>
          <div class="ITEM-2">
            <div class="IMAGE"></div>
            <a href="./project.html">
              <img class="ARROW-ICON" src="https://c.animaapp.com/aHf0WUEQ/img/arrow-icon.svg" alt="Arrow Icon" />
            </a>            
            <div class="text-wrapper-9">
              <a href="./project.html" title="">My Projects</a>
            </div>
          </div>
        </div>
        <div class="PORTRAIT"></div>
        <div class="SLOGAN-INTRO">
          <p class="a-data-analyst-a">A Data Analyst &amp; a Back-End Dev who brings ideas to life with code! ✨</p>
          <img class="FLOWER-ICON" src="https://c.animaapp.com/aHf0WUEQ/img/flower-icon.svg" />
        </div>
        <header class="HEADER">
          <div class="NAV">
            <div class="LOGO">
              <a href="./home.html" title="">JAHNAVI KANUKUNTLA</a>
            </div>
            <div class="frame">
              <div class="text-wrapper-10">
                <a href="./project.html" title="">PROJECTS</a>
              </div>
              <div class="text-wrapper-11">
                <a href="./aboutme.html" title="">ABOUT</a>
              </div>
              <div class="text-wrapper-12">
                <a href="./contactme.html" title="">CONTACT</a>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
  </body>
</html>
