<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/globalspro.css" />
    <link rel="stylesheet" href="static/styleguidepro.css" />
    <link rel="stylesheet" href="static/pro.css" />
  </head>
  <body>
    <div class="projects">
      <header class="HEADER">
        <div class="NAV">
          <div class="LOGO">
            <a href="./home.html" title="">JAHNAVI KANUKUNTLA</a>
          </div>
          <div class="frame">
            <div class="text-wrapper">
              <a href="./project.html" title="">PROJECTS</a>
            </div>
            <div class="div">
              <a href="./aboutme.html" title="">ABOUT</a>
            </div>
            <div class="text-wrapper-2">
              <a href="./contactme.html" title="">CONTACT</a>
            </div>
          </div>
        </div>
      </header>
      <div class="works">
        <div class="section-heading">
          <p class="title">The projects I did :)</p>
          <p class="p">A collection of my projects which demonstrates my practical experience. Check ’em out.</p>
        </div>
        <div class="container">
          <div class="col">
            <div class="div-2">
              <div class="project-card">
                <img class="project-cover" src="https://c.animaapp.com/8r8PUch5/img/project-cover.png" />
                <div class="project-details">
                  <a
                    href="https://github.com/Jahnavi-0305/Personal-Diet-Recomendation-system"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><div class="project-title">Diet Recommendation System</div
                  ></a>
                  <p class="description">
                    I developed a machine learning recommendation engine that personalises meal suggestions based on
                    users&#39; Body Mass Index (BMI) that achieved an 87% accuracy rate in recommending meals aligning
                    with users&#39; health goals.
                  </p>
                </div>
              </div>
              <div class="project-card">
                <img class="img" src="https://c.animaapp.com/8r8PUch5/img/project-cover-1.png" />
                <div class="project-details">
                  <a
                    href="https://github.com/Jahnavi-0305/Visualizing-Healthcare"
                    target="_blank"
                    rel="noopener noreferrer">
                    <div class="project-title">Visualizing Healthcare</div></a>
                  <p class="description">
                    I developed an insightful analysis of U.S. nursing home data, focusing on key financial metrics like
                    provider details, Medicare payments, and healthcare charges.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="project-card-2">
              <img class="image" src="https://c.animaapp.com/8r8PUch5/img/image.png" />
              <div class="project-details">
                <a href="https://github.com/Jahnavi-0305/Photo-Sharing-App" target="_blank" rel="noopener noreferrer"
                  ><div class="project-title">Photo Sharing App</div></a
                >
                <p class="description">
                  I developed a full-stack social media app using the MERN stack with real-time activity feed, user mentions, photo engagement (likes, comments), and dynamic user activity tracking. 
                  Implemented CRUD for comments/photos and role-based user management, leveraging MongoDB for scalable data storage.  
                </p>
              </div>
            </div>
            <div class="project-card-2">
              <img class="image-2" src="https://c.animaapp.com/8r8PUch5/img/image-1.png" />
              <div class="project-details">
                <a href="https://github.com/Jahnavi-0305/Weather-Data-Analysis" target="_blank" rel="noopener noreferrer"
                  ><div class="project-title">Weather Data Analysis with Spark</div></a
                >
                <p class="description">
                  I developed a large-scale weather data analysis system using  to
                  optimize querying and analyze temperature and precipitation data. Leveraged parallel computing in a
                  Debian Linux environment for efficient data handling.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
